---
- name: Deploy Expense Tracker to Kubernetes
  hosts: local
  tasks:

    - name: Create namespace
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: expensetracker

    - name: Deploy backend
      kubernetes.core.k8s:
        state: present
        src: ../k8s/backend.yaml

    - name: Deploy frontend
      kubernetes.core.k8s:
        state: present
        src: ../k8s/frontend.yaml
